[submodule "worker/src/main/resources/profiles/veraPDF-validation-profiles"]
	path = worker/src/main/resources/profiles/veraPDF-validation-profiles
	url = https://github.com/veraPDF/veraPDF-validation-profiles.git
	branch = b5c2bae49012ca4da96500524fb1256245eadddc
