spring:
  rabbitmq:
    host: ${amqp.server.host}
    username: ${amqp.user}
    password: ${amqp.password}
    listener:
      simple:
        concurrency: ${amqp.server.concurrency}
        max-concurrency: ${amqp.server.max.concurrency}
        prefetch: 1
        acknowledge-mode: manual
    publisher-confirm-type: correlated

verapdf:
  rabbitmq:
    queues:
      result-queue:
        name: ${amqp.server.sending.queue.name}
        max-size: ${amqp.server.sending.queue.max.size}
      listening-queue:
        name: ${amqp.server.listening.queue.name}
        max-size: ${amqp.server.listening.queue.max.size}
  task:
    processing-limit: ${task.processing.limit}
  files:
    worker-dir: /opt/verapdf/worker/files/
  local-storage-service:
    uri: http://${file.storage.host}:${file.storage.port}/api
  job-service:
    uri: http://${job.service.host}:${job.service.port}/api
