spring:
  datasource:
    url: jdbc:postgresql://${localstorage.database.host:localhost}:${localstorage.database.port:5432}/${localstorage.database.db:postgres}
    username: ${localstorage.database.username}
    password: ${localstorage.database.password}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: validate
  servlet:
    multipart:
      max-file-size: ${localstorage.max.file.size:100MB}
      max-request-size: ${localstorage.max.request.size:101MB}

server:
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      base-path: /status

verapdf:
  cleaning:
    cron: "0 0 1 * * *"
    lifetime-delay-days: 7
  files:
    min-space-threshold: ${localstorage.disk.min.space.threshold:5GB}
    base-dir: /opt/verapdf/localstorageservice/files
